<table class="table">
	<tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

	<tr>
		<th>name</th>
		<th><%= user.name %></th>
	</tr>

	<tr>
		<th>introduction</th>
		<th><%= user.introduction %></th>
	</tr>

	<tr>
		<th>follows</th>
		<th>
			<%= link_to follows_path(user) do %>
				<%= user.follower.count %></th>
			<% end %>
	</tr>

	<tr>
		<th>followers</th>
		<th>
			<%= link_to followers_path(user) do %>
				<%= user.followed.count %>
			<% end %>
		</th>
	</tr>

</table>

<% if current_user.id == user.id %>
	<div class="row">
		<%= link_to '', edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
	</div>
<% else %>
	<% if current_user.following?(user) %>
    	<%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST, class: 'btn btn-primary' %><br>
  	<% else %>
    	<%= link_to 'フォローする', follow_path(user.id), method: :POST, class: 'btn btn-success' %><br>
 	<% end %>
 	<% if is_room == true %>
 		<%= link_to 'chatを始める', chat_path(room_id, user_id: user.id) %>
 	<% else %>
 		<%= link_to 'chatを始める', rooms_path(user_id: user.id), method: :POST %>
  <% end %>
<% end %>
